.father{
  font-size: 36px;
}
button{
  margin-top: 10px;
}


.container {
  margin: 20px;
}

.inputContainer {
  margin-bottom: 10px;
}

.inputContainer input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fullName {
  font-weight: bold;
  margin-top: 10px;
}

.container{
  width: 100vw;
  height: 100vh;
}
